{% extends 'admin.html.twig' %}

{% block admin_title %}
    {{ page_title }}
{% endblock admin_title %}

{% block admin_content %}
    <div id="content">
        <div class="page-head">
            <h2 class="page-title">Commandes</h2>
        </div>

        <div class="row main">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="glyphicon glyphicon-info-sign"></i>
                                <span>Liste des commandes</span>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive col-lg-12">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>Id</th>
                                            <th>Date de commande</th>
                                            <th>Coût</th>
                                            <th>Station de départ</th>
                                            <th>Heure de départ</th>
                                            <th>Station d'arrivée</th>
                                            <th>Heure d'arrivée</th>
                                            <th>Utilisateur</th>
                                        </tr>
                                        {% for cart in carts %}
                                            <tr>
                                                <td>{{ cart.id }}</td>
                                                <td>{{ cart.command_time|date('d/m/Y à H:i') }}</td>
                                                <td>{{ cart.cost }}€</td>
                                                <td>{{ cart.start_station }}</td>
                                                <td>{{ cart.start_time|date('d/m/Y à H:i') }}</td>
                                                <td>{{ cart.end_station }}</td>
                                                <td>{{ cart.end_time|date('d/m/Y à H:i') }}</td>
                                                <td>
                                                    {% for user in users %}
                                                        {% if user.id == cart.userid %}
                                                            {{ user.lastname }} {{ user.firstname }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock admin_content %}