<style>
    .ticket {
        border: 2px solid black;
        width: 362px;
        height: 200px;

    }

    .number {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .start, .arrival {
        text-align: center;
        margin-bottom: 20px;
    }
    .bottom{
        margin-top: 50px;
    }
    .bottom .name{
        margin-left: 10px;
    }
    .bottom .price{
        margin-left: 180px;
    }
</style>

<page format="54x98" orientation="L">
    <div class="ticket">
        <div class="number">
            <strong>Ticket n° {{ ticket.id }}</strong>
        </div>
        <div class="start">
            Départ le {{ ticket.start_time|date("d/m/Y") }} à {{ ticket.start_time|date("H:i") }} en gare de
            <i>{{ ticket.start_station }}</i>
        </div>
        <div class="arrival">
            Arrivée le {{ ticket.end_time|date("d/m/Y") }} à {{ ticket.end_time|date("H:i") }} en gare de
            <i>{{ ticket.end_station }}</i>
        </div>
        <div class="bottom">
            <span class="name"> {{ firstname }} {{ lastname }}</span>
            <span class="price">{{ ticket.cost }}€</span>
        </div>
    </div>
</page>