{% extends 'admin.html.twig' %}

{% block admin_title %}
    {{ page_title }}
{% endblock %}

{% block admin_content %}
    <div id="content">
        <div class="page-head">
            <h2 class="page-title">Informations du client</h2>
        </div>

        <div class="row main">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="glyphicon glyphicon-info-sign"></i>
                                <span>Informations principales</span>
                            </div>
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <p>
                                        <strong>Nom :</strong> {{ user.lastname }}
                                    </p>
                                    <p>
                                        <strong>Adresse email :</strong> {{ user.email }}
                                    </p>
                                    <p>
                                        <strong>Compte actif :</strong> {% if user.getActive == 1 %}Oui{% else %}Non{% endif %}
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <p>
                                        <strong>Prénom :</strong> {{ user.firstname }}
                                    </p>
                                    <p>
                                        <strong>Abonné newsletter :</strong> {% if user.newsletter == 1 %}Oui{% else %}Non{% endif %}
                                    </p>
                                    <p>
                                        <strong>Dernière adresse IP :</strong> {{ user.ip }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="glyphicon glyphicon-info-sign"></i>
                                <span>Commandes passées</span>
                            </div>
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock admin_content %}