{% extends "admin.html.twig" %}

{% block admin_title %}
    {{ page_title }}
{% endblock admin_title %}

{% block admin_content %}
    <div id="content">
        <div class="page-head">
            <h2 class="page-title">Employés</h2>
        </div>

        <div class="row main">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="glyphicon glyphicon-info-sign"></i>
                                <span>Liste des employés</span>
                            </div>
                            <div class="panel-body">
                                <div class="add_employee">
                                    <a href="{{ path('supinfo_commander_administration_add_employee') }}">
                                        <button class="btn btn-primary" id="add_employee" type="button">Ajouter un employé</button>
                                    </a>
                                </div>
                                <div class="table-responsive col-lg-12">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>Id</th>
                                            <th>Prénom</th>
                                            <th>Nom</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                        {% for user in employees_list %}
                                            <tr>
                                                <td>{{ user.EmployeeId }}</td>
                                                <td>{{ user.firstname }}</td>
                                                <td>{{ user.lastname }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>
                                                    <a href="{{ path('supinfo_commander_administration_edit_employee', {'id': user.EmployeeId}) }}" >modifier</a>
                                                    <a href="#" class="delete_employee">supprimer<span class="hidden">{{ path('supinfo_commander_administration_delete_employee', {'id': user.EmployeeId}) }}</span> </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock admin_content %}